* {
  margin: 0;
}
.App {
display: flex;
justify-content: center;
flex-direction: column;
background: rgb(252,74,26);
background: linear-gradient(90deg, rgba(252,74,26,1) 0%, rgba(245,137,108,1) 100%);
background-repeat: no-repeat;
background-size: cover;
}

.card-container {
  height: 300px;
  width: 500px;
  max-width: 28rem;
  background: radial-gradient(circle, rgba(74,189,172,1) 0%, rgba(171,228,220,1) 100%);
  box-shadow: 1px 1px 2px gray;
  margin: 20px;
  padding: 20px;
  
} 

.header-name {
text-transform: capitalize;
display: table;
margin: 15px 15px 10px 0px;
}

.header-name h3 {
  margin: 0;
}

.avatar {
  height: 100px;
  width: auto;
  border-radius: 50%;
  box-shadow: 1px 1px 4px gray;

}

.message-container {
max-width: calc(29rem - 20px);
max-height: 10vh;
background-color: #dfdce3;
box-shadow: inset 0 0 5px #000000;
position: absolute;
overflow: scroll;
}

.message-text {
  margin: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: 600;
  max-width: 500px;
  height: auto;
}

.foot-content {
  width: 500px;
  height: 124px;
}

.love-container {
margin-top: 120px;  
}

.love-btn {
  border: none;
  background-color: #dfdce3;
  padding: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 4px gray;
  font-weight: 600;
  outline: none;
}

@media only screen and (max-width: 600px) {
  .App {
    background-size: cover;
    width: 540px;
  }
}